@tailwind base;
@tailwind components;
@tailwind utilities;

/* Webkit custom scrollbars for dark mode theme */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: #0B0F19;
}
::-webkit-scrollbar-thumb {
  background: #1F293D;
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: #3B82F6;
}
